<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">

    <Appenders>
        <File name="JSchemeFileAppender" fileName="logs/jscheme.log" append="false">
            <PatternLayout>
                <Pattern>%d %p [%t]: %m%n</Pattern>
            </PatternLayout>
        </File>

        <File name="SymbolTableAppender" fileName="logs/symbol_table.log" append="false">
            <PatternLayout>
                <Pattern>%d %p [%t]: %m%n</Pattern>
            </PatternLayout>
        </File>

        <File name="EvalAppender" fileName="logs/eval.log" append="false">
            <PatternLayout>
                <Pattern>%d %p [%t]: %m%n</Pattern>
            </PatternLayout>
        </File>

        <File name="GlobalEnvAppender" fileName="logs/global_env.log" append="false">
            <PatternLayout>
                <Pattern>%d %p [%t]: %m%n</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>

        <Logger name="hdm.pk070.jscheme.table.symbolTable.SchemeSymbolTable" additivity="false">
            <AppenderRef ref="SymbolTableAppender"/>
        </Logger>

        <Logger name="hdm.pk070.jscheme.EvalLogger" additivity="false">
            <AppenderRef ref="EvalAppender"/>
        </Logger>

        <Logger name="hdm.pk070.jscheme.table.environment.GlobalEnvironment" additivity="false">
            <AppenderRef ref="GlobalEnvAppender"/>
        </Logger>

        <Root level="debug">
            <AppenderRef ref="JSchemeFileAppender"/>
        </Root>
    </Loggers>

</Configuration>
